# FreeSWITCH Runtime & Storage Folders
logs/
sounds/
recordings/
db/
storage/
src/

# Security - Do not commit private TLS certificates / keys
conf/tls/

# System & Editor files
.DS_Store
Thumbs.db
*.log
